<!DOCTYPE html>
<html lang="{{ app.request.locale|slice(0, 2) }}">
    <head>
    	<meta charset="UTF-8">
        <title>{% block title %}{{ applicationTitle }}{% endblock %}</title>
    	
    	{% block stylesheets %}{% endblock %}
    </head>
    <body>
        <br /><br /><br />
        <div align="center">
        	{% block content %}{% endblock %}
       	</div>
	</body>
</html>
