<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="HeadLogo">
			<a href="/">
				<img src="{{ asset( 'build/images/setinvent-logo.jpg' ) }}" alt="SET Invent Ltd." width="244" height="67" border="0" />
			</a>
		</td>
		<td align="right" class="AuthText">
			{{ 'salary-j.app.logedin_as' | trans( {},'SalaryJ' ) }}: {{ app.user.username }}
		</td>
		<td width="10"><img src="{$wwwDir}images/spacer.gif" width="10" height="1" alt="" /></td>
	</tr>
</table>

<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td colspan="2" class="HeadThinLine"><img src="{$wwwDir}images/spacer.gif" class="Spc" alt="" /></td>
	</tr>
	<tr>
		<td colspan="2" class="HeadLine" align="right" height="22">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td colspan="2" class="HeadThinLine"><img src="{$wwwDir}images/spacer.gif" class="Spc" alt="" /></td>
	</tr>
	<tr>
		<td colspan="2" valign="middle" height="32">
			<table cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<td height="18"><img src="{$wwwDir}images/spacer.gif" width="1" height="18" alt="" /></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
