<br /><br /><br /><br />
        
<table cellspacing="0" cellpadding="0" width="100%" class="VertMenuBorder">
	<tr>
		<td class="VertMenuTitleBox">
			<table cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<td>
						<img src="{{ asset( 'build/images/dingbats_categorie.gif' ) }}" alt="Management" width="17" height="17" class="VertMenuTitleIcon" />
					</td>
					<td width="100%">
						<font class="VertMenuTitle">{{ 'salary-j.menu.main_menu_title' | trans( {},'SalaryJ' ) }}</font>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="VertMenuBox">
			<table cellpadding="5" cellspacing="0" width="100%">
				<tr>
					<td>
						{{ knp_menu_render( 'main', { 'template': 'salary-j/menu/main-menu.html.twig' } ) }}
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
	
<img src="{{ asset( 'build/images/spacer.gif' ) }}" width="150" height="1" border="0" />
