.hidden {
	display: none;
	visibility: hidden;
}

.date-range-picker-container {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

/*
 * USED IN
 * -------
 * Models/operators_work.html.twig
 * Operations/operators_work_browse_operations_grouped.html.twig
 * Operations/operators_work_browse_operations.html.twig
 * Operations/operators_work_browse_totals.html.twig
 *
 */
.date-range-picker-subcontainer {
	width: 25%;
	margin: auto;
}

.date-range-picker-label {
	float: left;
	margin: 5px 5px auto;
}

.date-range-picker-widget {
	background: #fff;
	cursor: pointer;
	margin: 0 auto;
	padding: 5px 10px;
	border: 1px solid #ccc;
	width: 300px;
	float: left;
}

.singleDatePickerSubcontainer {
	width: 20% !important;
}

.singleDatePicker {
	width: 150px !important;
}

.easyui-combo-form-control {
	width: 217px;
	height: 15px;
}
