
.login-container {
	text-align: center;
	background-color: #666666;
	color:#FFFFFF;
	font-weight: bold;
	padding: 20px;
	width: 400px;
	height: 200px;
	border: 2px ridge #000000;
}

.login-title {
	text-align: center;
	font-size:20px;	
}

.login-error {
	text-align: center;
	color:#FF0000;
	font-size:12px;
}
