<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <table class="Container" cellpadding="0" cellspacing="0" width="100%">
        	<tr>
        		<td class="Container">
        			<table cellpadding="0" cellspacing="0" width="100%">
        				<tr>
        					<td class="HeadLogo">
        						<a href="http://www.setinvent.eu" target="_blank"><img src="{$wwwDir}images/logo.jpg" alt="SET Invent Ltd." width="244" height="67" border="0" /></a>
        					</td>
        					<td align="right">
        						<form action="/demo/include/login.php" method="post" name="loginform">
        							<input type="hidden" name="_formid" value="8606400bbcddbcf4c29514b2256bdb39" />
        							<table cellpadding="2" cellspacing="0" border="0">
        								<tr>
        									<td class="AuthText">Вие влезнахте като: {$currentAuth->name()}</td>
        									<td>&nbsp;</td>
        
        								{*
        									<td><a href="{$smarty.server.PHP_SELF}?act=logout" class="AuthText">Log out</a>
        									<td><input type="image" src="{$wwwDir}images/go.gif" class="GoImage" alt="" /></a></td>
        								*}
        								</tr>
        							</table>
        							<input type="hidden" name="mode" value="logout" />
        							<input type="hidden" name="redirect" value="admin" />
        						</form>
        					</td>
        					<td width="10"><img src="{$wwwDir}images/spacer.gif" width="10" height="1" alt="" /></td>
        				</tr>
        			</table>
        			<table cellpadding="0" cellspacing="0" width="100%">
        				<tr>
        					<td colspan="2" class="HeadThinLine"><img src="{$wwwDir}images/spacer.gif" class="Spc" alt="" /></td>
        				</tr>
        				<tr>
        					<td colspan="2" class="HeadLine" align="right" height="22">
        						&nbsp;
        					</td>
        				</tr>
        				<tr>
        					<td colspan="2" class="HeadThinLine"><img src="{$wwwDir}images/spacer.gif" class="Spc" alt="" /></td>
        				</tr>
        				<tr>
        					<td colspan="2" valign="middle" height="32">
        						<table cellspacing="0" cellpadding="0" width="100%">
        							<tr>
        								<td height="18"><img src="{$wwwDir}images/spacer.gif" width="1" height="18" alt="" /></td>
        							</tr>
        						</table>
        					</td>
        				</tr>
        			</table>
        
        			<!-- main area -->
        			<table width="100%" cellpadding="0" cellspacing="0" align="center">
        				<tr>
        					<td width="3">&nbsp;</td>
        					<td width="150" valign="top">
        					<br /><br /><br /><br />
        
        					{foreach from=$vertMenus item=menu}
        						{$menu}
        					
        						<br />
        					
        					{/foreach}
        					
        						
        						<img src="{$wwwDir}images/spacer.gif" width="150" height="1" border="0" />
        					</td>
        					<td width="20">&nbsp;</td>
        					<td valign="top">
        						<br /><br />
        					
        						<!-- central space -->
        					{foreach from=$centralWidgets item=cWidget}
        						{$cWidget}
        
        						<br />
        					{/foreach}
        
        						<!-- /central space -->
        
        
        						&nbsp;
        					</td>
        					<td><img src="{$wwwDir}images/spacer.gif" width="20" height="1" border="0" /> </td>
        				</tr>
        			</table>
        			<!-- /main area -->
        
        		</td>
        	</tr>
        	<tr>
        		<td><img src="{$wwwDir}images/spacer.gif" class="Spc" alt="" /></td>
        	</tr>
        	<tr>
        		<td class="BottomRow">
        			<table width="100%" cellpadding="0" cellspacing="0">
        				<tr>
        					<td class="HeadThinLine"><img src="{$wwwDir}images/spacer.gif" class="Spc" alt="" /></td>
        				</tr>
        				<tr>
        					<td class="BottomBox">
        						<table width="100%" cellpadding="0" cellspacing="0">
        							<tr>
        								<td class="Bottom" align="left">Програмиране и Дизайн: Иван Атанасов тел. 0878 865 515</td>
        
        								{assign var='curYear' value=$smarty.now|date_format:"%Y"}
        								{if $curYear=='2009'}
        									<td class="Bottom" align="right">&copy;{$curYear} СЕТ Инвент ООД</td>
        								{else}
        									<td class="Bottom" align="right">&copy;2009-{$smarty.now|date_format:"%Y"} СЕТ Инвент ООД</td>
        								{/if}
        
        							</tr>
        						</table>
        					</td>
        				</tr>
        			</table>
        		</td>
        	</tr>
        </table>

    	
    
    
    
    
    
    
        {% block body %}{% endblock %}
    </body>
</html>
