<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; <a class="theme-link" href="http://www.vankosoft.org">VankoSoft</a> 2009-{{ "now"|date("Y") }}</div>
            <div>
                {{ 'salary-j.layout.programming_and_design' | trans( {},'SalaryJ' ) }}: {{ 'salary-j.layout.contact_info' | trans( {},'SalaryJ' ) }}
            {#
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            #}
            </div>
        </div>
    </div>
</footer>